<!--<ion-nav [root]="rootPage"></ion-nav>-->

<ion-header>
    <ion-navbar>
      <ion-title>
        Product QR Code Scanner App
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <h1>
      <button ion-button color="dark" full round (click)="scan()">Start Scan</button>
    </h1>
    
    <ion-card *ngIf="productFound">
      <img src="{{selectedProduct.imgUrl}}"/>
      <ion-card-header>
        <h2>Price: $ {{selectedProduct.price}}</h2>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>{{selectedProduct.plu}}</li>
          <li>{{selectedProduct.name}}</li>
          <li>{{selectedProduct.desc}}</li>
        </ul>
      </ion-card-content>
    </ion-card>
  </ion-content>